@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss ignore */
#admin-bar-iframe {
  display: none !important;
}

.nav-logo {
  height: 1.875rem;
}

.breadcrumb > a:not(:first-child)::before {
  display: inline-block;
  @apply px-3;
  color: #6c757d;
  content: "/";
}

.nav-container {
  height: calc(100vh - 200px);
}
